main {
	min-height: 67vh;
}

.btn_up {
	position: fixed;
	right: 20px;
	bottom: 5px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}

.up_icon {
	font-size: 50px;
}

.btn_up_shown {
	display: flex;
}